.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncrunchproject
*.ncrunchsolution
_ReSharper*/ 
*.ReSharper 
*_ReSharper.Caches/ 
*.DotSettings.user
.idea/
.idea/*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/
dist/
out/
.next
.swc
_static

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

appsettings.Development.json
appsettings.Production.json
appsettings.json
launchSettings.json
.DS_Store

secrets/
Migrations/